*{
    box-sizing: inherit;
    
}
body
{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0%;
}

::selection {
    background-color: #fc5f5f; /* Cambiar el color de fondo de la selección */
}

#contenedorTodo
{  
}
.a_logo
{
    background-color: transparent;
    overflow-wrap: anywhere;
}
img
{
    vertical-align: middle;
    height: auto;
    border: 0;
    width: 100px;
}
.logo_modificar
{
    max-width: 50px;

}
#title_div
{
    line-height: 1;
}
a{

    text-decoration: none;
}
#title
{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3333333333333rem;
    margin-bottom: 0;
    line-height: 1.2;
    text-decoration: none;
}
.titilo_logo
{
    font-size: 1.3333333333333rem;
    color: #2b2f38;
    line-height: 1.2;
    font-weight: 500;
}
.image-container {
    border-radius: 0px 0px 80px 80px;
    max-width: 100%;
    min-height: 85vh;
    background: url(imgs/hero-bg.jpg) center/cover no-repeat; /* Simplificar la propiedad background */
    align-items: center;
    display: flex;
}
/*
.image-container::before {
    content: ""; /* Contenido generado 
    position: absolute; /* Posición absoluta con respecto al contenedor 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #efeef4 0%, #FFFFFF00 32%);

}*/
#letras
{
    display: flex;
    margin: 0 auto; /* Esto centra el div horizontalmente */
    flex-direction: column;
    padding-top: 90px;
    left: 50%; /* Coloca el menú en la mitad horizontal del contenedor */
    align-items:start;
    width: 80%; /* Cambia este valor según tus necesidades */
    
    color: #2b2f38;
    justify-content: space-between;
}
h1,h2,h3,h4,h5,h6
{
    clear: both;
}
.frase
{
    margin-inline-end: 50%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#eslogan1
{

    margin: 0%;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;


}
#eslogan2
{
    line-height: 1.4em;
    font-size: 4.2666666666667rem;
    font-weight:500;
    margin-top: 0%;
    margin-bottom: 0%;


}

#boton_menu
{
    font-size: 0.8rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-style: solid;
    text-decoration: none;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    display: inline-block;

    fill: #fff;
    text-align: center;

    box-sizing: border-box;


    color:#ffffff;
    background-color: #fc5f5f;
    border-color: #fc5f5f;

}

#logo
{
    height: 50px;
    width: 50px;
    padding-right: 1em;
    box-sizing: inherit;
    line-height: 1;
    overflow-wrap: anywhere;
}
#menu
{

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto; /* Esto centra el div horizontalmente */

}
header
{
    padding-top: 90px;
    position: absolute; /* Establece el menú como absoluto */
    left: 50%; /* Coloca el menú en la mitad horizontal del contenedor */
    transform: translate(-50%, -50%); /* Centra el menú correctamente */
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Cambia este valor según tus necesidades */
    z-index: 100;
}
#navegadorPag
{
    display: flex;
}
li{
    padding: 20px;
    list-style: none;
}
#logoGeneral
{
    flex-wrap: nowrap;
    display: flex;
    height: 100%;
    min-height: 0;
    align-items: center;
    box-sizing: inherit;
    unicode-bidi: isolate;
    overflow-wrap: anywhere;
}
#logoGeneral2
{
    display: flex;
    padding-right: 0;

    padding-left: 0;

    flex-wrap: wrap;
    padding: 0 10px;
    align-items: center;
    box-sizing: inherit;
    overflow-wrap: anywhere;
    padding: 1em 0;

    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    line-height: 1;
    align-self: center;
    
}  

#slogan
{
    font-size: 4.2666666666667rem;
    font-family: 'Poppins', sans-serif;
    color: #2b2f38;
    line-height: 1.2;
}






.content2
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.centrarContenido
{
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    width: 70%; /* Cambia este valor según tus necesidades */
}
#contenedor-caja
{
    display: flex;
    justify-content: space-between;
}
.caja
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.iconoPlanta2
{
    display: flex;
}
.icono2paint
{
    margin-right: 16px;
    width: 34px;
}
.textoPlanta2
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;

}
.tituloh5
{
    font-size: 1.2rem;
    line-height: 1.2em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 4px;
    margin: 0%;
    font-weight: 500;
    text-align: left;
    box-sizing: border-box;
    font-style: inherit;
}
.parrafo2
{
    margin: 0%;
    vertical-align: baseline;
}
.content4
{
    display: flex;
    justify-content: center;
}
.contenedor_plantasV
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#tituloPlantasV
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content3
{
    display: flex;
    justify-content: center;
}
#contenedorPlantas
{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.planta
{
    background-color: #efeef4;

    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;


    display: flex;
    flex-direction: column;
   /* Cambia el fondo al pasar el mouse sobre el elemento background-transition: 0.3s; */
    border-radius: 16px 16px 16px 16px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 32px;
    margin-inline-end: 0px;
    padding-block-start: 440px;
    padding-block-end: 40px;
    padding-inline-start: 32px;
    padding-inline-end: 64px;

}
.planta1
{
    background-image: url(imgs/planta1.jpg);
}
.planta2
{
    background-image: url(imgs/planta2.jpg);
}
.planta3
{
    background-image: url(imgs/planta3.jpg);
}
.botonElemento
{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    fill: #fc5f5f;
    color:#fc5f5f;
    background-color: transparent;
    padding: 0;

    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    background-color: transparent;
}
.imagen_PlantaV
{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
    max-width: 100%;
    border: none;
    border-radius: 0;
    margin-bottom: .8em;
}
.Producto_imagen
{
    position: relative;
    display: block;
    box-shadow: none;
    text-decoration: none;
    box-sizing: border-box;
    text-align: left;
}
.producto_venta
{
    margin-bottom: 2.5em;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.div_venta
{
    display: block;
    unicode-bidi: isolate;
    box-sizing: border-box;
    text-align: left;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}
.productos_colummnas
{
    grid-template-columns: repeat(4, 1fr);
    margin: 0 0 1em;
    padding: 0;
    list-style: none outside;
    clear: both;
    display: grid;
    column-gap: 20px;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;

}
.contenedor_plantas_ventas
{
    max-width: 1200px;
    /* Estilos sin las variables CSS personalizadas */
    flex-basis: auto; /* Cambia 'var(--flex-basis)' por 'auto' */
    flex-grow: 0; /* Cambia 'var(--flex-grow)' por '0' */
    flex-shrink: 1; /* Cambia 'var(--flex-shrink)' por '1' */
    order: 0; /* Cambia 'var(--order)' por '0' */
    align-self: auto; /* Cambia 'var(--align-self)' por 'auto' */
    display: flex; /* Cambia 'var(--display)' por 'flex' */

    padding-block-start: 0px; /* Cambia 'var(--padding-block-start)' por '0px' */
    padding-block-end: 0px; /* Cambia 'var(--padding-block-end)' por '0px' */
    padding-inline-start: 0px; /* Cambia 'var(--padding-inline-start)' por '0px' */
    padding-inline-end: 0px;
    position: relative;
}
.contenedor_comentario
{
    display: flex;
    flex-direction: row;

    
    align-items: stretch;
    gap: 0px 0px;
    border-radius: 16px 16px 16px 16px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0px;
    padding-block-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;

}
.imagen_coment1
{
    background-image: url(imgs/coment1.jpg);
    background-position: center center;
    background-size: cover;
    width: 40%;
    display: flex;
    border-radius: 16px 16px 16px 0px;
    flex-direction: column;
}
.imagen_coment2
{
    max-width: 100%;
    margin-block-end: 0;
    position: relative;
    align-content: initial;
    flex-direction: initial;
    flex-wrap: initial;
    justify-content: initial;
    align-items: initial;
    align-content: initial;
    gap: initial;
    flex-basis: initial;
    flex-grow: initial;
    flex-shrink: initial;
    order: initial;
    align-self: initial;
}



.content5{
    display: flex;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}
.contenedorDeContacto
{
    display: flex;
    flex-direction: row;
    width: 80%;
}
#contenedor-contacto
{
    display: flex;
    flex-direction: row;
}




.content6
{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.testimonial-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;

}


.coment1 {
    background-image: url(imgs/coment3.jpg);
}

.coment2 {
    background-image: url(imgs/coment2.jpg);
}

.coment3 {
    background-image: url(imgs/coment1.jpg);
}

.testimonial-column {
    display: flex;
    flex-direction: column;
}


.testimonial {
    margin: 20px;
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido */
}

.imagen-testimonio {
    width: 90%; /* Ancho deseado de la imagen */
    height: 100%; /* Altura igual a la del contenedor */
    background-size: cover; /* Ajustar la imagen para cubrir todo el contenedor */
    background-position: center; /* Centrar la imagen */
    border-radius: 10px;
}


.parrafo-testimonio {
    padding: 20px; /* Añadir espacio alrededor del texto */
    flex-grow: 1; /* Permite que el texto ocupe todo el espacio restante */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

@media (max-width: 768px) {
    .testimonial-container {
        flex-direction: column; /* Cambiar la dirección a columna en pantallas más pequeñas */
        align-items: center; /* Centrar horizontalmente los elementos en pantallas más pequeñas */
    }

    .testimonial-column + .testimonial-column {
        margin-left: 0; /* Eliminar el margen entre columnas en pantallas más pequeñas */
        margin-top: 20px; /* Agregar espacio entre columnas en pantallas más pequeñas */
    }
}



